@main("products1"){
<div class="container">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Choose Your Label!!
                <small>Choose the best for your beard!!</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Project One -->
    <div class="row">
        <div class="col-md-7">
            <a href="#">
                <img class="img-responsive" src="@routes.Assets.versioned("images/red.png")" alt="">
            </a>
        </div>
        <div class="col-md-5">
            <h3>Red Label</h3>
            <h4>Lemongrass, Cederwood, Tea tree</h4>
            <p>Our Beard oil, balm and soap all come in 3 manly scents that have been carefully selected after 1000's of hours of testing to make sure your beard has the best.
                Our Beard oil, balm and soap all come in 3 manly scents that have been carefully selected after 1000's of hours of testing to make sure your beard has the best.Our Beard oil, balm and soap all come in 3 manly scents that have been carefully selected after 1000's of hours of testing to make sure your beard has the best.
                Our Beard oil, balm and soap all come in 3 manly scents that have been carefully selected after 1000's of hours of testing to make sure your beard has the best.
                Our Beard oil, balm and soap all come in 3 manly scents that have been carefully selected after 1000's of hours of testing to make sure your beard has the best.</p>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Project Two -->
    <div class="row">
        <div class="col-md-7">
            <a href="#">
                <img class="img-responsive" src="@routes.Assets.versioned("images/yellow.png")" alt="">
            </a>
        </div>
        <div class="col-md-5">
            <h3>Yellow Label</h3>
            <h4>Lavender, Ylang Ylang, black pepper and Tea Tree</h4>
            <p>Our Beard oil, balm and soap all come in 3 manly scents that have been carefully selected after 1000's of hours of testing to make sure your beard has the best.
                Our Beard oil, balm and soap all come in 3 manly scents that have been carefully selected after 1000's of hours of testing to make sure your beard has the best.Our Beard oil, balm and soap all come in 3 manly scents that have been carefully selected after 1000's of hours of testing to make sure your beard has the best.
                Our Beard oil, balm and soap all come in 3 manly scents that have been carefully selected after 1000's of hours of testing to make sure your beard has the best.
                Our Beard oil, balm and soap all come in 3 manly scents that have been carefully selected after 1000's of hours of testing to make sure your beard has the best.</p>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Project Three -->
    <div class="row">
        <div class="col-md-7">
            <a href="#">
                <img class="img-responsive" src="@routes.Assets.versioned("images/blue.png")" alt="">
            </a>
        </div>
        <div class="col-md-5">
            <h3>Blue Label</h3>
            <h4>Vanilla, Sandlewood and Tea Tree</h4>
            <p>Our Beard oil, balm and soap all come in 3 manly scents that have been carefully selected after 1000's of hours of testing to make sure your beard has the best.
                Our Beard oil, balm and soap all come in 3 manly scents that have been carefully selected after 1000's of hours of testing to make sure your beard has the best.Our Beard oil, balm and soap all come in 3 manly scents that have been carefully selected after 1000's of hours of testing to make sure your beard has the best.
                Our Beard oil, balm and soap all come in 3 manly scents that have been carefully selected after 1000's of hours of testing to make sure your beard has the best.
                Our Beard oil, balm and soap all come in 3 manly scents that have been carefully selected after 1000's of hours of testing to make sure your beard has the best.</p>
        </div>
    </div>
    <!-- /.row -->

    <hr>


</div>

}
